/*Optimized for 960px width*/

/*ColorScheme*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END OF MEYER'S RESET*/

body{
    background-color:orange;
}

form{
    float: left;
}
h1{
    font-family: georgia;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 1em;
    padding: .8em;
    text-align: center;
    text-shadow: black .1em .1em 1em;
}
input[type="submit"]{
    box-shadow: red 0 0 .2em;
    clear: both;
    float: left;
    margin: 4em 17em;
}
textarea{
    border-radius: 1em;
    float: left;
    height: 10em;
    overflow:hidden;
    padding: 1em;
    resize: none;
    width: 21em;
}
#Wrapper{
    background-color: orange;
    display: block;
    margin: auto;
    width: 60em;
}
/* height 10em, width 20em */
.box{
    /*border: 0.0625em solid black*/ ;
    border-radius: 1em;
    background-color: yellow;
    box-shadow: white 0 0 1em;
    float: left;
    height: 8em;
    padding: 1em;
    transform: scale(1);
    transition-duration: 2s;
    margin: 1em;
    width: 16em;
}
.box:hover{
    box-shadow: red 0 0 .1250;
    transform: scale(1.05, 1.05);
    transition-duration: .7s;

}
.boxForm{
    /*border: 0.0625em solid black*/ ;
    border-radius: 1em;
    background-color: yellow;
    box-shadow: white 0 0 1em;
    float: left;
    height: 12em;
    padding: 1em;
    transform: scale(1);
    transition-duration: .7s;
    margin: 1em 0 3em 0;
    width: 16em;
}
.messageBoard{
    display: block;
    clear: both;
}
.formContainer{
    margin: auto;
    width: 20em;
}
.messageContainer{
    background-color: black;
    border-radius: 1em;
    box-shadow: white 0 0 1em;
    clear: both;
    overflow: auto;
    transition-duration: 1.5s;
}
.messageContainer:hover{
    box-shadow: white 0 0 0;
    transition-duration: 1.5s;
}

/*Comments for developer*/
.z{
    background-color: white;
    position: absolute;
    width: 10em;
}



